@use 'colors.scss' as *;

.specialization {
	padding: 60px 0;
	background-color: $tertiary;

	&-logo {
		display: flex;
		justify-content: center;
		align-items: center;

		& > img {
			max-width: 70%;
		}
	}

	.list > li {
		font-style: italic;
	}

	@media screen and (max-width: 600px) {
		&-logo {
			display: none;
		}
	}
}
